:root{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(78, 190, 255, 0.301) 0%, rgba(213, 238, 166, 0.4) 100%), url(../Imagenes/ruta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header_contacto{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 7, 110, 0.301) 0%, rgba(213, 238, 166, 0.4) 100%), url(../Imagenes/nube.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hamburger{
    position: fixed;
    
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #3692e9 0%, #4024df 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);

}




.spread{
    transform: translate(0); 
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.menu-navegacion a:hover{
    color: rgb(193, 138, 255);
    text-decoration: underline;
    
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;

}

.copy{
    font-weight: 300;
    font-size: 25px;
}







body{
    font-family: 'Poppins', sans-serif;
}

.fiestas-culturales {
   
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1.8rem;
}

.fiestas-culturales h2{
    color: rgb(25, 125, 255);
}




.imgDuraznos {
margin: 1rem;
padding: 1rem;
width: 35rem;
height: 28rem;
float: left;
}

.texto-duraznos{
    
    font-size: 1.5rem;
    margin: 2rem;

}





.imgfortines{
    margin:1rem;
    padding: 1rem;
    float: right;
}

.texto-fortines {
    
    font-size: 1.5rem;
    margin: 2rem;
}
    


.imgEmpanadas {
    margin: 1rem;
    padding: 1rem;
    float: left;
    width: 38rem;
    height: 27rem;
}

.texto-empanadas{
           font-size: 1.5rem;
           margin: 1rem;
}



.Paquetes {
   
     margin: 1.5rem;
     padding: 1.5rem;
     font-size: 1.5rem;
 }
 
 .Paquetes p {
     font-size: 1.4rem; 
     
 }

 .Paquetes h2 {
    color:  rgb(25, 125, 255);
 }

.paquete_basico{
  color: white;
  background: linear-gradient(rgb(23, 201, 255),rgba(0, 0, 0, 0.699));
  padding: 2rem;
  margin: 2rem;
 font-size: 1.3rem;
 height: 14rem;
 width: 80rem;
 
 border-radius:  5%;

}


.paquete_extra{
    color: white;
    background: linear-gradient(rgb(211, 115, 203), rgb(0, 0, 0));
    padding: 2rem;
    margin: 2rem;
    font-size: 1.3rem;
    height: 14rem;
    width: 80rem;
    border-radius: 5%;
}

.paquete_premium {
    color: white;
    background: linear-gradient(rgb(193, 212, 16), rgb(0, 0, 0));
    padding: 2rem;
    margin: 2rem;
    font-size: 1.3rem;
    height: 16rem;
    width: 80rem;
    border-radius: 5%;

}



.boton1 {
    color: white;
    background-color: rgb(3, 0, 184);
    width: 5.5rem;
    height: 2.5rem;
    border: rgb(31, 183, 243) 3px solid;
}

.boton2 {
    color: white;
    background-color: rgb(143, 0, 187);
    width: 5.5rem;
    height: 2.5rem;
    border: rgb(236, 70, 228) 3px solid;
}

.boton3 {
       color: rgb(220, 245, 0);
       background-color: rgb(0, 0, 0);
       width: 5.5rem;
       height: 2.5rem;
       border: yellow 3px solid;
}



footer{
    background: #6a62cf;
    padding-bottom: 0.1px;
    /*Si quitamos el padding se colapsan los margenes*/
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;

}

.social-media-icon:hover{
    background: #fff;
    color: #764ba2;

}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;

}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;

}


/* CONTACTO */

.t-contacto {
    font-size: 2.2rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: underline;
    color: #3542eb;
}

.p-contacto{
    font-size: 1.4rem;
    padding: 1rem;
}

form{
    width: 25rem;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(194, 194, 194);
    border-radius: 3px;
}

.field{
    padding: 10px;
    width: 20rem;
}

.boton-contacto{
    width: 15rem;
    font-size: 1.24rem;
    background-color: #3692e9;
    color: #fff;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 1rem;
}









@media only screen and (max-width: 768px) {
    
       
    
    .fiestas-culturales h2{
          color: black;
          margin-bottom: 1rem;
          
      }

      .imgDuraznos {
        margin: 1rem;
        padding: 1rem;
        width: 39rem;
        height: 27rem;
        
       
        }

     .texto-duraznos{
        
            font-size: 1.6rem;
             }

   .imgfortines{
                margin: 1rem;
                padding: 1rem;
                height: 30rem;
               
            }
            
   .texto-fortines {
                
                font-size: 1.6rem;
              
            }

 .imgEmpanadas {
                margin: 1rem;
                padding: 1rem;
                 width: 39rem;
                height: 28rem;
            }
            
  .texto-empanadas{
               
                       font-size: 1.6rem;
                       margin: 1rem;
            }



  .Paquetes h2 {
                color:  rgb(0, 0, 0);
                margin-bottom: 1rem;
             }

  .Paquetes p{
                font-size: 1.6rem;
             }
   
.paquete_basico {
    height: 14rem;
    padding-bottom: 8rem;
}        
.paquete_extra {
    height: 14rem;
    padding-bottom: 8rem;
}

.paquete_premium{
    height: 15rem;
    padding-bottom: 8rem;
}

.boton1{
    width:6rem ;
    height: 3rem;
    font-size: 1.2rem;
}

.boton2 {
    width:6rem ;
    height: 3rem;
    font-size: 1.2rem;
}

.boton3{
    width:6rem ;
    height: 3rem;
    font-size: 1.2rem;
}

footer{
    font-size: 1.2rem;
    padding-top: 3rem;
}

}



@media only screen and (max-width: 480px) {

    .fiestas-culturales{
        font-size: 1.6rem;
    }

    .celu1{
        background-color: rgb(212, 212, 212);
        margin-bottom: -11rem;
    }

    .celu2{
        margin-bottom: -10rem;
    }

    .celu3{
        background-color: rgb(212, 212, 212);
        margin-bottom: -8.7rem;
    }

    .imgDuraznos {
        width: 22rem;
        height: 17rem;
    }

    .imgfortines{
        width: 22.5rem;
        height: 17rem;
    }

    .imgEmpanadas{
        width: 22rem;
        height: 17rem;
    }

    .p_texto{
        margin-bottom: -2rem;
    }

    .paquete_extra{
        height: 17rem;
    }

    .paquete_premium{
        height: 19.6rem;
    }



}