*{
    margin: 0;
    padding: 0;
}

.header{
  background-color: rgba(0, 1, 68, 0.829); 
  height: 9rem;
  position: fixed;
  width: 100%;
 
  
 
    
    }

    
.lista_de_navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
        font-size: 1.4rem;
        margin: 1rem;
        list-style-type: none;

     }


   
    
.header a {
    color: white;
    text-decoration: none;
    
    
}

a:visited {
        color: white;
}

a:hover {
    color: rgb(14, 212, 238);
    text-decoration: underline;
}


a:active {
        border: rgb(14, 212, 238) solid 3px ;
}




.fiestas-culturales {
    font-family: 'Times New Roman', Times, serif;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1.8rem;
}

.fiestas-culturales h2{
    color: rgb(25, 125, 255);
}




.imgDuraznos {
margin: 1rem;
padding: 1rem;
width: 35rem;
height: 28rem;
float: left;
}

.texto-duraznos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    margin: 2rem;

}





.imgfortines{
    margin:1rem;
    padding: 1rem;
    float: right;
}

.texto-fortines {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 2rem;
}
    


.imgEmpanadas {
    margin: 1rem;
    padding: 1rem;
    float: left;
    width: 38rem;
    height: 27rem;
}

.texto-empanadas{
           font-size: 1.5rem;
           margin: 1rem;
}



.Paquetes {
    font-family: 'Times New Roman', Times, serif;
     margin: 1.5rem;
     padding: 1.5rem;
     font-size: 1.5rem;
 }
 
 .Paquetes p {
     font-size: 1.4rem; 
     
 }

 .Paquetes h2 {
    color:  rgb(25, 125, 255);
 }

.paquete_basico{
  color: white;
  background: linear-gradient(rgb(23, 201, 255),rgba(0, 0, 0, 0.699));
  padding: 2rem;
  margin: 2rem;
 font-size: 1.3rem;
 height: 12rem;

}


.paquete_extra{
    color: white;
    background: linear-gradient(rgb(10, 228, 20), rgb(0, 0, 0));
    padding: 2rem;
    margin: 2rem;
    font-size: 1.3rem;
    height: 12rem;
}

.paquete_premium {
    color: white;
    background: linear-gradient(rgb(231, 255, 14), rgb(0, 0, 0));
    padding: 2rem;
    margin: 2rem;
    font-size: 1.3rem;
    height: 12rem;

}


.boton1 {
    color: white;
    background-color: rgb(0, 184, 184);
    width: 5rem;
    height: 2rem;
}

.boton2 {
    color: white;
    background-color: rgb(0, 218, 29);
    width: 5rem;
    height: 2rem;
}

.boton3 {
       color: black;
       background-color: rgb(255, 255, 0);
       width: 5rem;
       height: 2rem;
}




.footer{
    background-color: rgba(0, 1, 68, 0.829) ;
    font-size: 1rem;
    padding: 1rem;
    clear: both;
    
}





@media only screen and (max-width: 768px) {
     .header{
        position: static;
        height: 15rem;
        margin-bottom: -3rem;
     }

     .lista_de_navegacion {
        display: flex;
        flex-direction: column;
        justify-content:space-around ;
        align-items: start;
        padding: 2.6rem;
        font-size: 1.3rem;
        margin-bottom: 1rem;
       
        

     }

     ul {
        list-style: none;
      }
      
      ul li::before {
        content: "\2022";
        color: rgb(255, 255, 255); 
        font-weight: bold; 
        display: inline-block; 
        width: 1em; 
        margin-left: -1em;
      }

     .lista_de_navegacion li {
        margin: 0.2rem;
     }
    
    .fiestas-culturales h2{
          color: black;
          margin-bottom: 1rem;
          
      }

      .imgDuraznos {
        margin: 1rem;
        padding: 1rem;
        width: 39rem;
        height: 27rem;
        
       
        }

     .texto-duraznos{
        font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.6rem;
             }

   .imgfortines{
                margin: 1rem;
                padding: 1rem;
                height: 30rem;
               
            }
            
   .texto-fortines {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 1.6rem;
              
            }

 .imgEmpanadas {
                margin: 1rem;
                padding: 1rem;
                 width: 39rem;
                height: 28rem;
            }
            
            .texto-empanadas{
                font-family: Georgia, 'Times New Roman', Times, serif;
                       font-size: 1.6rem;
                       margin: 1rem;
            }



            .Paquetes h2 {
                color:  rgb(0, 0, 0);
                margin-bottom: 1rem;
             }

             .Paquetes p{
                font-size: 1.6rem;
             }

}